@import '../variaveis';

paper-radio-button{
  --paper-radio-button-unchecked-color: $cor-principal;
  --paper-radio-button-checked-color: $cor-escura;
  --paper-radio-button-label-color: $cor-principal;
}
paper-input, gold-email-input{
  --paper-input-container-color: $cor-principal;
  --paper-input-container-focus-color: $cor-escura;
  --paper-input-container-invalid-color: $cor-tetrad2;
  --paper-input-container-input-color: $cor-principal;
}
paper-input iron-icon, gold-email-input iron-icon{
  padding-right: 9px;
  --iron-icon-fill-color: $cor-principal;
}
paper-textarea{
  --paper-input-container-color: $cor-principal;
  --paper-input-container-focus-color: $cor-escura;
  --paper-input-container-invalid-color: $cor-tetrad2;
  --paper-input-container-input-color: $cor-principal;
}
paper-checkbox{
  --paper-checkbox-unchecked-color: $cor-principal;
  --paper-checkbox-unchecked-ink-color: $cor-principal;
  --paper-checkbox-checked-color: $cor-escura;
  --paper-checkbox-checked-ink-color: $cor-principal;
  --paper-checkbox-checkmark-color: $cor-branca;
  --paper-checkbox-label-color: $cor-principal;
  --paper-checkbox-label-checked-color: $cor-escura;
  --paper-checkbox-error-color: $cor-tetrad2;
  padding-right: 27px;
}
paper-toast{
  --paper-toast-background-color: $cor-escura;
  --paper-toast-color: $cor-branca;
}
paper-toast paper-button{
  color: $cor-triad1;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
}
paper-button{
  font-size: 1.8em;
  color: $cor-branca;
  background-color: $cor-triad1;
}
paper-button.botao-verde{
  color: $cor-branca;
  background-color: $cor-escura;
}
paper-button.botao-vermelho{
  color: $cor-branca;
  background-color: $cor-tetrad2;
}
paper-spinner{
  --paper-spinner-layer-1-color: $cor-principal;
  --paper-spinner-layer-2-color: $cor-principal;
  --paper-spinner-layer-3-color: $cor-principal;
  --paper-spinner-layer-4-color: $cor-principal;
}
a{
  color: $cor-link;
}
a:hover{
  text-decoration: none;
  color: $cor-link-hover;
}
a:visited{
  color: $cor-link-visitado;
}
@include tipo-de-aparelho(celular){
  .celular-hide{
    display: none !important;
  }
  paper-button{
    font-size: 1em;
  }
}
@include tipo-de-aparelho(large-screen){
  paper-toast{
    font-size: 1em;
  }
}
