@import '../variaveis';

paper-fab-speed-dial{
  --paper-fab-speed-dial-background: $cor-triad1;
  --paper-fab-speed-dial-keyboard-focus-background: $cor-branca;
  --paper-fab-speed-dial-right: 9px;
  --paper-fab-speed-dial-bottom: 9.99vh;
}
paper-fab-speed-dial-action{
  --paper-fab-speed-dial-action-background: $cor-triad1;
  --paper-fab-speed-dial-action-keyboard-focus-background: cor-triad1;
}
h2{
  color: $cor-escura;
}
paper-button{
  font-size: 1em;
}
iron-form div{
  margin: 24px;
}
paper-dialog h2{
  margin-top: 24px;
}
paper-range-slider{
  margin-top: 24px;
  width: 100%;
  --paper-range-slider-lower-color: $cor-branca;
  --paper-range-slider-active-color: $cor-principal;
  --paper-range-slider-higher-color: $cor-branca;
  --paper-range-slider-knob-color: $cor-principal;
  --paper-range-slider-pin-color: $cor-principal;
  --paper-range-slider-pin-start-color: $cor-principal;
  --paper-range-slider-knob-start-color: $cor-principal;
  --paper-range-slider-knob-start-border-color: $cor-principal;
}
.botoesDialogo{
  display: flex;
  flex-direction: row-reverse;
}
.dialogos{
  width: 100%;
  max-width: 459.9px;
}
