@import '../../variaveis';
:host{
  display: table;
  margin: 0px auto;
}
p{
  color: $cor-triad1;
}
paper-button{
  font-size: 1.3em;
  color: $cor-branca;
  background-color: $cor-triad1;
}
#nao-ha-dados{
  text-align: center;
  padding: 24px;
}
