@import '../../variaveis';
:host{
  display: flex;
  flex-direction: column;
}
.avaliar{
  text-align: center;
}
.avaliar iron-icon{
  height: 51.3px;
  width: 51.3px;
}
.avaliar #notaNegativa{color: $cor-tetrad2;}
.avaliar #notaNeutra{color: $cor-triad1;}
.avaliar #notaPositiva{color: $cor-escura;}
#nao-ha-dados{
  text-align: center;
  padding: 24px;
}
#nao-ha-dados p{
  color: $cor-triad1;
}
#nao-ha-dados paper-button{
  font-size: 1.3em;
  color: $cor-branca;
  background-color: $cor-triad1;
  margin-top: 24px;
}
#dialogoSucesso{
  background-color: $cor-branca;
  color: $cor-principal;
}
#dialogoSucesso paper-button{
  float: right;
  font-size: 1em;
}
@include tipo-de-aparelho(large-screen){
  :host{
    font-size: 1.11em;
  }
  paper-dialog{
    font-size: 1.26em;
  }
  paper-button{
    padding: 9px;
  }
}
