@import '../../variaveis';
:host{
  display: table;
  margin: 0px auto;
}
p{
  color: $cor-triad1;
}
paper-button{
  font-size: 1.3em;
  color: $cor-branca;
  background-color: $cor-triad1;
}
.botoes{
  float: right;
}
.cancelar{
  background-color: $cor-branca;
  color: $cor-oposta;
}
.aceitar{
  background-color: $cor-clara;
}
#nao-ha-dados{
  text-align: center;
  padding: 24px;
}
#cuidado{
  background-color: $cor-oposta;
  color: $cor-branca;
  overflow-y: auto;
}
#cuidado p{
  color: $cor-branca;
}
#cuidado paper-checkbox{
  --paper-checkbox-unchecked-color: $cor-branca;
  --paper-checkbox-unchecked-ink-color: $cor-branca;
  --paper-checkbox-checked-color: transparent;
  --paper-checkbox-checked-ink-color: $cor-branca;
  --paper-checkbox-label-color: $cor-branca;
  --paper-checkbox-label-checked-color: $cor-branca;
}
