@import '../../variaveis';
:host{
  display: block;
  color: $cor-principal;
  font-size: 80%;
}
#wrapper{
  display: table;
  padding-bottom: 27px;
  margin: 0px 9em 0px 9em;
}
h1, p{
  color: $cor-triad1;
}
label{
  font-weight: bold;
  font-size: 108%;
}
paper-input{
  max-width: 18em;
}
paper-input iron-icon{
  padding-right: 9px;
}
paper-checkbox{
  margin-top: 13px;
}
#local{
  display: block;
}
#musculos{
  margin: 13px 0px 27px 0px;
}
#musculos label{
  padding-right: 13px;
}
paper-button{
  color: $cor-branca;
  background-color: $cor-triad1;
}
@include tipo-de-aparelho(celular){
  #wrapper{
    margin: 0px 27px 0px 27px;
  }
}
