@import '../../variaveis';
:host{
  display: table;
  margin: 27px auto 27px auto;
  box-shadow: 3px 3px 3px $cor-escura;
}
fitqui-exercise-icon{
  padding: 3px;
}
.header{
  color: $cor-escura;
  text-align: right;
  padding-right: 24px;
}
#repeticoes, #duracao{
  color: $cor-principal;
  text-align: center;
}
@include tipo-de-aparelho(celular){
  :host{
    margin: 27px auto 27px auto;
  }
}
