@import '../../variaveis';
:host{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  color: $cor-principal;
}
fitqui-controls{
  margin: 24px auto 0px auto;
}
